{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <h2>Updating</h2>
    <input type="text" class='form-control' name="name" value="{{categories.name}}">
    <input type="submit" class="btn btn-primary" value="Update">
</form>
{{/block}}
{{/extends}}